@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:arkamig314@student.polsl.pl">arkamig314@student.polsl.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:ferdezo@o2.pl">ferdezo@o2.pl</a>
</address>